.Fondo{
  background-image: linear-gradient(0deg, rgba(244, 237, 237, 0.4), rgba(240, 231, 231, 0.4)), url("~img/fondo3.jpg");
  background-size: 20rem;
}

.header{
  background-color: #bc6c25;
  height: 80px;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover{
  background-color:#bc6c25;
  transition: 0.5s;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
.testbox {
  margin-top: 100px;
  margin-left: 40px;
  width: 800px; 
  height: 540px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 5px #99582a;
}

.box-padre{
  display: flex;
  justify-content: left; 
  align-items: center;
}
.text1 {
  font-family: 'tahoma';
  font-size: 30px;
  color: #6f1d1b;
}

.text2 {
  margin-left: 50px;
  text-align: justify;
  font-family: 'verdana';
  font-size: 19px;
  color: #6f1d1b;
  width:700px;
}

.text3 {
  width:700px;
  color: #011627;
  font-family: 'verdana';
  font-size: 12px;
  font-weight: bold;
}

.contenedor-perrito {
  margin-top: 150px;
  margin-right: 2px;
  margin-left: 100px;
  width: 550px; 
  height: 600px; 
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.mascota1{
  margin-top: 80px;
  width: 600px; 
  height: 350px; 
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}
