
.bodyPpal {
  font-family: Comic Sans MS Black;
  background-image: linear-gradient(0deg, rgba(244, 237, 237, 0.4), rgba(240, 231, 231, 0.4)), url("img/fondo3.jpg");
}

.menu{
  list-style: none;
  padding: 0;
  background: #bc6c25;
  margin: auto;
}
.menu li a{
  text-decoration: none;
  color:black;
  display:block;
  padding: 10px;
}

.menu li{
  margin-right: 50px;
  margin-left: 30px;
  display: inline-block;
  text-align: center;
  font-size: 40px;
}

.nav{
  background-color: #bc6c25;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-menu{
  display: flex;
  height: 120px;
  margin-right: 40px;
  list-style: none;
}

.menu-item {
  display: inline-block;
    list-style: none;
    padding: 5px;
}
/*

 .menuItem{
    font-size: 25px;
    font-family: Comic Sans MS Black;
    color: rgb(0, 0, 0);
    margin: 5px;
    line-height: 40px;
    text-transform: uppercase;
    width: max-content;
    transition: 0.5s;
    padding: 40px;
  
  }
  
  /*.nav-menu-link{
    padding: 8px 12px;
    border-radius: 15px;
  }*/
  
  /*.nav-menu-link:hover{
    background-color:#bc6c25;
    transition: 0.5s;
  }
  */
.Div1{
  display: flex;
}

.Div2{
    margin-left: 140px;
   
    margin-top: 120px;
    width:300px; 
    height: 430px; 
    -webkit-border-radius: 8px/7px; 
    -moz-border-radius: 8px/7px; 
    border-radius: 8px/7px; 
    background-color: #f1ead3; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    border: solid 1px #cbc9c9;
  }

  .Div3{
    margin-left: 0px;
    padding-left: 0px ;
  }
  .registro-button{
    margin-left: 50px;
  }
  .h1{
    margin-left: 30px;
    font-size: 25px;
    font-family: Comic Sans MS Black;
  }
  .Div4{
    margin-left: 250px;
  }
 
  .mascota1{
    align-items: center;
    margin-left: 10;
    margin-top: 120px;
    width: 680px; 
    height: 400px; 
  }
/*

  label.radio {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
  }
  
  label.radio:before {
    background: #bb9457;   
    content:'';
    position: absolute;
    top:2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  
  label.radio:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #4c4c4c;
    border-top: none;
    border-right: none;
  
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }*/
  #icon {
    display: inline-block;
    width: 25px;
    background-color: #bb9457;
    padding: 8px 0px 8px 15px;
    margin-left: 10px;
    -webkit-border-radius: 4px 0px 0px 4px; 
    -moz-border-radius: 4px 0px 0px 4px; 
    border-radius: 4px 0px 0px 4px;
    color: #4c4c4c;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 0px #d7cad6;
  }
  input[type=text],input[type=password]{
    width: 200px; 
    height: 25px; 
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    background-color: #ffe6a7; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #ffe6a7;
    margin-left: -5px;
    margin-top: 13px; 
    padding-left: 10px;
    margin-bottom: 15px;
  }
  




.nav-link{
  color:#432818;
  font-family: 'Segoe UI Black';
  font-size: 25px;
  text-decoration: none;
}
/*

}









/*body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}
select {
  font-family: 'tahoma';
  font-size: 16px;
  color: #4c4c4c;
}

.Fondo{
  background-image: linear-gradient(0deg, rgba(244, 237, 237, 0.4), rgba(240, 231, 231, 0.4)), url("img/fondo3.jpg");
  background-size: 20rem;
  background-repeat: no-repeat;

}


}






.Mascota{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.box-padre{
  display: flex;
  flex:auto;
  justify-content: left;  
  margin-top: 80px;
}


.select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #bb9457;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color: rgb(0, 0, 0);
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.select::-ms-expand {
  display: none;
}
.select {
  color: rgb(255, 255, 255);
  margin-top: 15px;

  margin-bottom: 15px;
  position: relative;
  display: flex;
  width: 270px; 
  height: 39px; 
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background:#bc6c25;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: rgb(255, 255, 255);
}
p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 30px;
}

l

input[type=radio]:checked + label:after {
	opacity: 1;
}

hr{
  color: #ffe6a7;
  opacity: 0.3;
}

input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #ffe6a7; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #ffe6a7;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
  margin-bottom: 15px;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: #bb9457;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: #4c4c4c;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #bb9457;
}


.gender {
  margin-left: 30px;
  margin-bottom: 30px;
}

.accounttype{
  margin-left: 30px;
  margin-top: 20px;
}

.contenedor-perrito {
  margin: 100px;
  margin-left: 240px;
  width: 600px; 
  height: 600px; 
}

.mascota1{
  margin-top: 80px;
  width: 600px; 
  height: 350px; 
}

.mascota2{
  margin-top:2px;
  width: 700px; 
  height: 500px; 
}
/* estilos para Consultar Mascotas