

.Fondo{
  background-image: linear-gradient(0deg, rgba(244, 237, 237, 0.4), rgba(240, 231, 231, 0.4)), url("img/fondo3.jpg");
  background-size: 20rem;
}

.header{
  background-color: #bc6c25;
  height: 80px;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}


.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link{
  color:#432818;
  font-family: 'Segoe UI Black';
  font-size: 25px;
  text-decoration: none;
}


.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
  font-size: 18px;
  margin: 5px;
  line-height: 40px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover{
  background-color:#bc6c25;
  transition: 0.5s;
}


.box-padre{
  height: 700px;
  display: flex;
  justify-content: left;  
  margin-top: 80px;
}

.testbox {
  margin: 100px;
  width: 250px; 
  height: 250px; 
  margin-top: 200px;
  margin-left: 5px;
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #f8e5d6; 
  -webkit-box-shadow: 1px 2px 5px rgba(230, 33, 33, 0.31); 
  -moz-box-shadow: 1px 2px 5px rgba(29, 147, 82, 0.31); 
  box-shadow: 1px 2px 5px rgba(146, 60, 60, 0.31); 
  border: solid 3px #925e09;
}


  table {
    margin: 1px auto;
    margin-left: 400px;
    background-color: #ffe6a7;
    width: 800px;
    text-align: left;
    border-collapse: collapse;
    margin-right: 20px;
  }

  thead{
    background-color: #bb9457;
    color:white; 
    text-align: center;
  }
  th, td {
    border: solid 2px black;
    padding: 8px;
  }

  tr:hover td{
    background-color: #4c4c4c;
    color: white;
  }

  h3 { 
    width: 400px;
    margin-left: 600px;
    color:#432818;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: 'tahoma';
    
  }

