@page
@model MascotaFeliz.App.Frontend.Pages.EliminarMascotaModel
@{
    int mascotaId = Model.mascota.Id;
}

<h2 class="titulo1">Eliminar Dueño</h2>
<div class="Div1">
    <div>
        <form method = "post">
            <input type ="hidden" asp-for ="mascota.Id"/>
            <div class="Div4">
                <table class= "tabla2" >
                    <tr>
                        <th>Nombre:</th>
                        <td><input asp-for="mascota.Nombre"/></td>
                    </tr>
                    <tr>
                        <th>Color:</th>
                        <td><input asp-for="mascota.Color"/></td>
                    </tr>
                    <tr>
                        <th>Especie:</th>
                        <td><input asp-for="mascota.Especie"/></td>
                    </tr>
                    <tr>
                        <th>Raza:</th>
                        <td><input asp-for="mascota.Raza"/></td>
                    </tr>
                    <tr>
                        <th>Dueño:</th>
                        <td><input asp-for="mascota.Dueno"/></td>
                    </tr>
                </table>
            </div>
            <div>
            <table>
                <tr>
                <td><button type="submit" class="btn btn-primary">Eliminar</button></td>
                <td><a asp-page="./ListaMascotas" class="btn btn-primary">Volver</a></td>
                </tr>
            </table>
            </div>
        </form>
    </div>
    <div class = "Div5">
        <a >
        </a>
    </div>

</div>

