@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="box-padre">
      <div class="testbox">
        <h1 class=" text1">VETERINARIA MASCOTA FELIZ</h1>
        

        <p class="text2">Hoy en día, en muchos hogares, las mascotas se han convertido en un miembro 
          más de la familia y como tales, es necesario garantizar su bienestar en todo sentido, 
          especialmente en lo que a salud se refiere.
        </p> 

        <p class="text2">La empresa “Mascota Feliz”, tiene dentro de su portafolio de servicios
          diversos beneficios para las mascotas afiliadas, entre ellos se encuentra el de visitas 
          domiciliarias periódicas de promoción de la salud y prevención 
          de la enfermedad, las cuales son realizadas por un médico 
          veterinario, y que además son gratuitas para los perros y gatos 
          afiliados a la empresa.
        </p>

          <p class="text2">Mascota Feliz cuenta con un equipo de veterinarios que se 
            encargan de realizar visitas a domicilio, durante las cuales se 
            revisan las mascotas y se dan recomendaciones para prevenir 
            enfermedades, mejorar la calidad de vida de los peludos o en caso 
            de ser necesario (si la mascota se encuentra enferma) se realiza 
            el diagnóstico y se formulan medicamentos.
          </p>
          <p class="text3"> © Todos los derechos reservados </br> Elaborado por: MisionTIC 2022 </p>
        
      </div>
      <div class="contenedor-perrito">
        <img src="img/perrofeliz.png" class="mascota1" >
      </div>
    </div>