@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{
}

<h1>Lista Dueños</h1>
<table> 
    <tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    </tr>
    @foreach (var dueno in Model.listaDuenos)
    {
        <tr>
        <td>@dueno.Nombres</td>
        <td>@dueno.Apellidos</td>
        </tr>
    }

</table>




