@page
@model MascotaFeliz.App.Frontend.Pages.ListaVeterinariosModel
@{
}

<h1>Lista Veterinarios</h1>
<table> 
    <tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    </tr>
    @foreach (var veterinario in Model.listaVeterinarios)
    {
        <tr>
        <td>@veterinario.Nombres</td>
        <td>@veterinario.Apellidos</td>
        <td>
            <a class="btn btn-primary table-btn" asp-page="./DetallesVeterinarios" asp-route-veterinarioId="@veterinario.Id">
                Detalle Veterinario
            </a>
        </td>
        </tr>
    }

</table>